apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "todo-app.backend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  selector:
    {{- include "todo-app.backend.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.ports.backend }}
      targetPort: {{ .Values.ports.backend }}
      protocol: TCP
